header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    height: 85px;
    width: 100%;
    position: Fixed;
    Top: 0;
    z-index: 10;
}

h1{
    color: white;
    background-color: teal;
    width: 250px;
    height: 85px;
    Position: Fixed;
        left: 250px;
        top: -20px;
    text-align: center;
    line-height: 85px;
    z-index: 11;
    
}
.main{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    position: Absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: grey;
    text-align: center;
    width: 100%;
    height: 100%;
}

footer {
    position:Fixed;
    bottom:0;
    width:100%;
    height:60px;  
    background:#6cf; 
    text-align: center;
    border-top: solid;
    border-width: 10px;
    border-color: teal;
    z-index: 5;
}

.menu {
    list-style-type: none;
    float: right;
    position: fixed;
    right: 200px;
    text-align: center;
    line-height: 100px;
    color: grey;
    z-index: 12;
}

.sidebar{
    clear: both;
    float: right;
    width: 270px;
    height: 200px;
    margin-left: 40px;
    background-color: pink;
    position: Fixed;
        right: 220px;
        bottom: 330px;
    text-align: center;    
}

.maincontent {
    clear: both;
    float: left;
    width: 650px;
    height: 400px;
    background-color: rgb(179, 129, 137);
    position: relative;
        left: 200px;
    margin: 40px;
    z-index: 2;
    text-align: center;
    padding: 10px;
}

h2{
    border-bottom: solid;
    border-color; white;
    text-align: left;
    padding: 10px 20px 25px 20px;

}


h3{
    border-bottom: solid;
    border-color; white;
    text-align: center;
    padding: 5px 10px 15px 10px;
    margin: 10px;

}

#AboutMePicture {
    position: relative;
    left: 10px;
    bottom: 30px;
    float: left
}

.links{
    position: relative;
    top: 25px;
}

.pmaincontent {
    clear: both;
    float: left;
    width: 650px;
    height: 750px;
    background-color: rgb(179, 129, 137);
    position: relative;
        left: 200px;
    margin: 40px;
    z-index: 2;
    text-align: center;
    padding: 10px;
}
  
#tech {
    Float: left;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 50px;
}    

#tech2 {
    Float: right;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 50px;
}

#tech3 {
    Float: left;
    margin-bottom: 35px;
    margin-left: 50px;
}

#tech4 {
Float: right;
margin-bottom: 35px;
margin-right: 50px;
}

#tech5 {
    Float: left;
    margin-bottom: 35px;
    margin-left: 50px;
}

.pmain {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: white;
        position: Absolute;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: grey;
        text-align: center;
        width: 100%;
        height: 875px;
}